@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-image: linear-gradient(to bottom, rgb(122, 155, 245), #557bf8);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container li {
  margin: 10px;
}

a {
  color: aquamarine;
}

a:visited {
  color: aquamarine;
}
